.contenedor{
    padding: 2rem;

    background-color: red;
}

.hijoDelContenedor{
    padding: 1rem 4rem 1rem 5rem;
    background-color: blue;
    border: 2px solid red;
    border-radius: 2rem;
}

.h2Class{
    color: white;
}

.hijoDelContenedor div h2{
    color: yellow;
}

#seccionImportante{
    background-color: blueviolet;
}

#video{
    background-color: brown;
}


#idMain{
    background-color:green;
    min-height: 100vh;
}

.classMain{
    background-color: rgb(161, 161, 13);
}

.testeo{
    background-color: black;
    min-height: 100vh;
    color: white;
}
.testeo h2{
    background-color: red;
    padding: 3rem 0rem;
    margin: 3rem;
    border: 3rem;
}